.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.footer a{
    color: white;
}

.footer li{
    margin-left: 15px;
}

.footer li:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.footer p{
    margin: 25px;
    font-weight: bold;
}